/* variables -- start */

:root {
    --font-logo: 'Raleway', sans-serif;
    --font-main: 'Roboto', sans-serif;
    --color-accent: #2196F3;
    --color-main: #212121;
    --color-invert: #ffffff;
    --color-sub: #757575;
    --color-extra-light: #EEEEEE;
    --color-header-border: #ECECEC;
    --color-footer-transperent: rgba(255, 255, 255, 0.6);
    --color-logo-header: #000000;
    --color-logo-footer: #ffffff;
    --color-fill-accent: #2196F3;
    --color-fill-accent-hover: #188CE8;
    --color-fill-dark: #2F303A;
    --color-fill-light: #F5F4FA;
}

/* variables -- end */

/* normalize -- start */

h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

button {
    cursor: pointer;
    font-family: inherit;
} 

address {
    font-style: normal;
}

header a, footer a {
    text-decoration: none;
}

.list, .item {
    list-style: none;
}

img {
    display: block;
}

/* normalize -- end */


/* allpage -- start */

body {
    font-family: var(--font-main);
    color: var(--color-main);
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* allpage -- end */


/* logo -- start */

.logo-header {
    display: block;
    margin-right: 93px;
    padding-bottom: 25px;
    padding-top: 24px;

    color: var(--color-logo-header);
    font-family: var(--font-logo);
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.logo-footer {
    display: block;
    margin-bottom: 20px;

    color: var(--color-logo-footer);
    font-family: var(--font-logo);
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.logo-accent {
    color: var(--color-accent);
}


/* logo -- end */


/* header -- start */

.header {
    border-bottom: 1px solid var(--color-header-border);
}

.header a {
    color: var(--color-main);
}

.header .container {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
}

nav li:not(:last-child), .header-contacts li:not(:last-child) {
    margin-right: 50px;
}

.header-contacts {
    display: flex;
    margin-left: auto;
}

nav a {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-family: var(--font-main);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-contacts a {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--color-sub);
    font-family: var(--font-main);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header .current-page {
    color: var(--color-accent);
}

nav a:hover, nav a:focus, .header-contacts a:hover, .header-contacts a:focus{
    color: var(--color-accent);
}

/* header -- end */


/* hero -- start */

.hero {
    padding-top: 200px;
    padding-bottom: 200px;

    background-color: var(--color-fill-dark);
}

h1 {
    margin-bottom: 30px;

    color: var(--color-invert);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;

    padding-left: 32px;
    padding-right: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 4px;

    background-color: var(--color-accent);
    color: var(--color-invert);
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
}

.hero button:hover, .hero button:focus {
    background-color: var(--color-fill-accent-hover);
}

/* hero -- end */


/* whywe -- start */

.whywe {
    padding-top: 94px;
}

.whywe-list {
    display: flex;
    align-items: center;
}

.whywe-list li:not(:last-child) {
    margin-right: 30px;
}

.whywe-list h3 {
    margin-bottom: 10px;

    font-weight: bold;
    font-size: 14px;
    line-height: 0.86;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.whywe-list p {
    color: var(--color-sub);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* whywe -- end */


/* whatwedo -- start */

.whatwedo {
    padding-top: 94px;
    padding-bottom: 94px;
}

.whatwedo h2 {
    margin-bottom: 50px;

    font-weight: bold;
    font-size: 36px;
    line-height: 1.67;
    text-align: center;
    letter-spacing: 0.03em;
}

.whatwedo-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.whatwedo-list li {
    max-width: calc(1200px / 3 - 60px / 3);
}

.whatwedo-list li:not(:last-child) {
    margin-right: 30px;
}

/* whatwedo -- end */


/* ourteam -- start */

.ourteam {
    padding-top: 94px;
    padding-bottom: 94px;

    background-color: var(--color-fill-light);
}

.ourteam h2 {
    margin-bottom: 50px;

    font-weight: bold;
    font-size: 36px;
    line-height: 1.67;
    text-align: center;
    letter-spacing: 0.03em;
}

.ourteam-list {
    display: flex;
    flex-wrap: wrap;
}

.ourteam-list li {
    max-width: calc(1200px / 4 - 90px / 3);

    background-color: var(--color-invert);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.ourteam-list img {
    max-width: 100%;
}

.ourteam-list div {
    padding-top: 30px;
    padding-bottom: 30px;
}

.ourteam-list h3 {
    color: var(--color-main);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.03em;
}

.ourteam-list p {
    color: var(--color-sub);

    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.03em;
}

.ourteam li:not(:last-child) {
    margin-right: 30px;
}

/* ourteam -- end */


/* projects -- start */

.projects {
    padding-top: 94px;
    padding-bottom: 94px;
}

.projects-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.projects button {
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 6px;
    padding-bottom: 6px;

    background-color: var(--color-fill-light);
    border-radius: 4px;
    border:none;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
}

.projects button:hover, .projects button:focus {
    background-color: var(--color-accent);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: var(--color-invert)
}

.projects-buttons li:not(:last-child) {
    margin-right: 8px;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects-list li {
    max-width: calc((1200px - 15px - 15px - 30px - 30px) / 3);
}

.projects-list li:not(:nth-last-of-type(-n + 3)) {
    margin-bottom: 30px;
}

.projects-list img {
    max-width: 100%;
}

.projects-list div {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;

    border-left: 1px solid var(--color-extra-light);
    border-right: 1px solid var(--color-extra-light);
    border-bottom: 1px solid var(--color-extra-light);
}

.projects-list h3 {
    margin-bottom: 4px;

    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.projects-list p {
    color: var(--color-sub);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}

.projects-list li:not(:nth-child(3n)) {
    margin-right: 30px;
}


/* projects -- end */


/* footer -- start */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--color-fill-dark);
}

.footer-contacts li:not(:last-child) {
    margin-bottom: 9px;
}

.footer-contacts li a {
    display: block;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-contacts li:first-child a {
    color: var(--color-invert);
}

.footer-contacts li:not(:first-child) a {
    color: var(--color-footer-transperent);
}

.footer-contacts a:focus, .footer-contacts a:hover  {
    text-decoration: underline;
}

/* footer -- end */

/* hidden -- start */

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* hidden -- end */